*{
    margin:0;
    padding:0;    
}

/*----------HOME PAGE CSS-------------*/

.header{
    width:100%;
    height:100%;
    margin:0;
}

.header{
    background-color:#ff8b8b;
    overflow: auto;
}

.logo{
    height: 60px;
    width: 70px;
    background-image:url(imgs/ns2.png);
    background-size: cover;
    float: left;
    margin:10px 0 0 30px;

}

.nav{
    float:right;
    margin: 30px 30px 0 0;
    
}

.nav a{
    font-family:Lato-Hairline;
    float:right;
    display:inline-block;
    margin-left: 10px;
    color: rgba(255,255,255,0.7);
    font-size: 17px;
    font-weight: 700;
    
    
    text-decoration: none;
    text-transform: uppercase;
    
}
.nav a:hover{
    color: red;
}

#homeh1{
    text-align:center;
    
    font-family:SourceSansPro-Black;
    font-size: 80px;
    font-weight: 700;
    color:white;
    text-transform: uppercase;
    letter-spacing:0.05em;
    margin-bottom:20px;
    padding-top:300px;
}

#homeh1 span{
    display: inline-block;
    padding:0.2em 0.5em;
    border: white solid 10px;

}

.subheading{
    text-align:center;
    font-family:Lato-Hairline;
    font-weight: 700;
    font-size:20px;
    text-transform:uppercase;
    letter-spacing:0.05em;
    color:white;
   
}


/*----------ABOUT PAGE CSS-------------*/

#aboutme{
    text-align:center;
    
}
#aboutme h1{
    text-align:center;
    font-family:SourceSansPro-Black;
    font-size: 80px;
    font-weight: 700;
    color:white;
    text-transform: uppercase;
    letter-spacing:0.05em;
    margin-bottom:20px;
    padding-top:100px;
}
    
img{
    border-radius:100%;
    width:200px;
}
p{
    margin-left:auto;
    margin-right: auto;
    color:white;
    width:50%;
    font-family:Lato-Light;
    padding-bottom: 50px;
}
#aboutme table{
    margin-left: auto;
    margin-right: auto;
    
}
