<div class="header">
    <div class="logo" ></div>
    <div class="nav">
        <a ui-sref="contact">Contact</a>
        <a ui-sref="projects">Projects</a>
        <a ui-sref="skills">Skills</a>
        <a ui-sref="about">About</a>
        <a ui-sref="home">Home</a>
    </div>
    
<a href="#" ng-init="orderByVariable = 'duration'" ng-click="orderByVariable = 'name'">Sort by Name</a> | <a a href="#" ng-click="orderByVariable = 'duration'">Sort by Duration</a>

<ul>
    <li ng-repeat="i in skills | orderBy: orderByVariable">
        {{i.name}} - {{i.duration}} years
    </li>
</ul>
    
</div>